extends layout

block content
    h1= title
    .content
        form(method='post')
            .wrapper
                .input-box
                    label.input-label 用户名：
                    input.input-text(type="text", name="username",placeholder='请输入用户名...')
                .input-box
                    label.input-label 密码：
                    input.input-text(type="password", name="password",placeholder='请输入密码...')
            .submitBtn
                input.login(type='submit',value='登录')